.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid var(--gray-8);
  border-radius: var(--space-2);

  &.flipped {
    transform: rotateX(180deg);
  }
}
